/* BASIC SETUP*/
*{
    margin: 0;
    padding:0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23555555' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    
}
h1{
    margin-top: 25px;
    text-align: center;
    text-transform: uppercase;
}
.row{
    max-width: 420px;
    margin: 75 auto 0 auto;
    border: 3px solid;
    border-radius:15px;
  background-color: #e6e3dc;
    padding: 25px
}
/*FORMATO AL FORM*/

form{
    
    margin: 20 px;
}




input{
    
    margin: 0 auto;
    display: grid;
    -ms-flex-line-pack: center;
    align-content: center;
    padding-left: 5px;
   border-radius: 6px;
    font-family: inherit;
 
    
}


form input[type="text"]
{

 width:300px;
 
 height:25px;
 
}
   
form input[type="number"]
{

 width:300px;

 height:25px;
 
}

form input[type="submit"]
{

 width:100px;
 
 height:40px;
    text-decoration: none;
   
    color: black;
    font-weight: 700;
    -webkit-transition: border 0.3s, color 0.3s;
    -webkit-transition: border 0.3s, color 0.3s; transition: border 0.3s, color 0.3s; 
    background-color: transparent;
    border-radius: 40px;
    font-size: 75%;
    border: 1px solid black;
    
}

form input[type="submit"]:hover,
form input[type="submit"]:active
{
    border: 1px solid antiquewhite;
     background-color:#555;
    color: #9f9f9f;
 
}
.back:link,
.back:visited
{
    text-decoration: none;  
    color: #555;
     font-size: 90%;
        border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    margin-left: 10px;
        
}

.back:hover,
.back:active{
    border-bottom: 2px solid #080808;
}



